<h2>Nos Cours Populaires</h2>
<div class="course-list">
  <div *ngFor="let course of courses" class="course-card">
    <img [src]="course.imageUrl" alt="Immagine del corso" class="course-image">
    <div class="course-details">
      <span class="course-level">{{ course.niveau }}</span>
      <h3 class="course-title">{{ course.nom }}</h3>
      <p class="course-description">{{ course.description }}</p>
      <div class="course-info">
        <span class="course-places">Places: {{ course.capacite_max }} places restantes</span>
      </div>
      <button class="course-button">S'inscrire</button>
    </div>
  </div>
  <a routerLink="/tutti-i-corsi" class="view-all-courses">Voir tous les cours →</a>
</div>
