@use '../login/login.component.scss' as login;

.auth-container { @extend .login-container; }
.card { @extend .login-card; }
.subtitle { @extend .subtitle; }
.form-group { @extend .form-group; }
.error { @extend .error; }
.btn { @extend .login-btn; }

.info.success {
  margin-top: 1rem;
  color: #166534;
  background: #ecfdf5;
  border: 1px solid #bbf7d0;
  padding: .75rem;
  border-radius: 8px;
}
.mt { margin-top: .75rem; }
