<div class="admin-courses">
  <div class="header">
    <h2>Cours proposés</h2>
    <button class="btn btn-primary" (click)="openForm()">+ Nouveau cours</button>
  </div>

  <table class="courses-table" *ngIf="courses?.length && !formOpen; else emptyState">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Image</th>
      <th>Spécialisations</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.name }}</td>
      <td class="desc">{{ getDescriptionShort(course.description) }}</td>
      <td>
        <img *ngIf="course.imageUrl" [src]="course.imageUrl" alt="img" class="course-img" />
      </td>
      <td>
        <ng-container *ngIf="getCourseSpecializations(course)?.length; else noSpecs">
            <span class="spec-badge" *ngFor="let s of getCourseSpecializations(course)">
              {{ s }}
            </span>
        </ng-container>
        <ng-template #noSpecs><span class="no-spec">-</span></ng-template>
      </td>
      <td>
        <button class="btn btn-sm btn-secondary" (click)="editCourse(course)">Modifier</button>
        <button class="btn btn-sm btn-danger" (click)="deleteCourse(course.idCourse)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #emptyState>
    <div class="empty-state" *ngIf="!formOpen">
      <p>Aucun cours pour l’instant.</p>
    </div>
  </ng-template>
</div>

<div class="form-overlay" *ngIf="formOpen"></div>
<app-course-form
  *ngIf="formOpen"
  [course]="selectedCourse"
  (close)="closeForm($event)"
  (save)="handleSave($event)">
</app-course-form>
<button class="btn-back" routerLink="/dashboard/admin">
  ← Retour Dashboard
</button>
