<div class="home-container">
  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">BIENVENUE AU PAX CANINA</h1>
      <p class="hero-subtitle">
        Le meilleur endroit pour entraîner et socialiser votre compagnon à quatre pattes
      </p>
      <div class="hero-buttons">
        <button class="btn btn-inverse btn-lg" routerLink="/calendar">
          Voir le calendrier
        </button>
        <button class="btn btn-inverse btn-lg" routerLink="/contact">
          En savoir plus
        </button>
      </div>
    </div>
    <div class="hero-image">
      <img src="/assets/images/caneblu.jpg" alt="Immagine Hero">
    </div>
  </section>

  <section class="about-us">
    <div class="section-content">
      <img src="/assets/images/canetestolina.jpg" alt="Immagine de ClubCanine" class="section-image">
      <div class="section-text">
        <h2 class="section-title">Qui sommes-nous?</h2>
        <p>
          Pax Canina est une communauté passionnée dédiée à l'éducation canine et au bien-être de votre compagnon.
        </p>
      </div>
    </div>
  </section>

  <section class="our-mission">
    <div class="section-content">
      <div class="section-text">
        <h2 class="section-title">Notre mission</h2>
        <p>
          Depuis plus de 10 ans, nous nous engageons à créer un environnement où les chiens et leurs propriétaires peuvent apprendre, grandir et s'épanouir ensemble. Notre approche est basée sur le renforcement positif et le respect du bien-être animal.
        </p>
      </div>
      <img src="/assets/images/pitbull.jpg" alt="Immagine della missione de ClubCanine" class="section-image">
    </div>
  </section>

  <section class="our-services">
    <h2 class="our-services-title">Nos services</h2>
    <div class="services-list">
      <div class="service-card">
        <img src="assets/icons/cours.svg" alt="Immagine du cours d'éducation canine" class="service-image">
        <h3 class="service-title">Cours d'éducation canine</h3>
        <p>
          Des cours adaptés à tous les niveaux, des chiots aux chiens adultes, des chiens équilibrés et obéissants.
        </p>
      </div>
      <div class="service-card">
        <img src="assets/icons/sociali.svg" alt="Immagine della socialisation" class="service-image">
        <h3 class="service-title">Socialisation</h3>
        <p>
          Des séances de groupe pour aider votre chien à interagir positivamente con ses congénères et les humains.
        </p>
      </div>
      <div class="service-card">
        <img src="assets/icons/punto.svg" alt="Immagine du conseil personnalisé" class="service-image">
        <h3 class="service-title">Conseil personnalisé</h3>
        <p>
          Des experts à votre disposition pour répondre à toutes vos questions et adapter nos conseils aux besoins spécifiques de comportement de votre canine.
        </p>
      </div>
    </div>
  </section>

  <section class="available-courses">
    <app-course-list [previewMode]="true" [previewCount]="3"></app-course-list>
  </section>

  <section class="call-to-action">
    <div class="call-to-action-card">
      <div class="call-to-action-title">
        Prêt à commencer l'aventure avec votre chien?
      </div>
      <p class="call-to-action-text">
        Rejoignez Pax Canina dès aujourd'hui et donnez à votre compagnon la meilleure éducation canine!
      </p>
      <div>
        <button class="btn btn-inverse btn-lg" routerLink="/auth/register">
          Créer un compte
        </button>
        <button class="btn btn-inverse btn-lg" routerLink="/contact">
          Contacter un formateur
        </button>
      </div>
    </div>
  </section>
</div>
