<div class="admin-dashboard">
  <aside class="sidebar">
    <nav>
      <ul>
        <li routerLinkActive="active"><a routerLink=".">Tableau de bord</a></li>
        <li routerLinkActive="active"><a routerLink="users">Utilisateurs</a></li>
        <li routerLinkActive="active"><a routerLink="courses">Cours</a></li>
        <li routerLinkActive="active"><a routerLink="sessions">Sessions</a></li>
        <li routerLinkActive="active"><a routerLink="dogs">Chiens</a></li>
        <li routerLinkActive="active"><a routerLink="specialisations">Spécialisations</a></li>
      </ul>
    </nav>
  </aside>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
